div.page
{
	width: 992px;
	margin: 0px auto 10px auto;
}
div.titre
{
	width: 990px;
	border: solid 1px #2D6000;
	color: #ffffff;
}

div.menu
{
	float: left;
	width: 170px;
	height: inherit;
	padding-left: 8px;
	padding-bottom: 10px;
	text-align: left;
	font-size: 11px;
}
div.menu-titre
{
	margin-top: 15px;
	padding: 5px 0px 2px 0px;
	font-size: 16px;
	color: #3E910C;
	font-weight: bold;
}
div.contenu
{
	float: right;
	width: 570px;
	height: inherit;
	padding-bottom: 10px;
	text-align: left;
	font-size: 11px;
}
div.colonnes
{
	width: 992px;
	min-height: 2200px;
	background: url('Images/colonnes.png');
	background-repeat: repeat-y;
	border-bottom: solid 1px #2D6000;
}
td, th {
	border: 1px solid rgb(190,190,190);
	padding: 10px 20px;
		}
table {
	border-collapse: collapse;
	border: 2px solid rgb(45, 96, 0);
	letter-spacing: 1px;
	font-size: 0.8rem;
	}
body
{
	margin: 4px 0px 0px 0px;
	padding: 0;
	text-align: center;
	background-color: #E5F7D2;
	font-family: verdana, sans-serif;
	font-size: 12px;
}
@media (prefers-color-scheme: dark) {
	body {
	background-color: #1c1c1e;
	color: #fefefe;
	}
	a {
	color: #5fa9ee;
	}
	img {
	filter: grayscale(20%);
	}
	div.colonnes{
		filter: grayscale(20%);
	}
	table{
	filter: invert(100%);
	}
	p{
	filter: invert(100%);
	}
	}